{
  "plugins": [
    "styled-jsx/babel",
    "react-hot-loader/babel",
   
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "$",
        "rootPathSuffix": "./src" // since we suport relative paths you can also go into a parent directory
      }
    ],
    [
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ],
    [
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}